<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
  style="max-width:574px">
  <tbody>
    <tr style="width:100%">
      <td>
        <table cellpadding="0" cellspacing="0" style="width:100%;margin:0 auto">
          <tbody>
            <tr>
              <td>
                <div>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    Hi there!</p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    You've been subscribed to my primary newsletter. You can expect to receive an email every few weeks,
                    sharing the new things that I've published or released. Occasionally, I'll share unique
                    "newsletter-only" content as well. <img data-emoji="✨" class="an1" alt="✨" aria-label="✨"
                      draggable="false" src="https://fonts.gstatic.com/s/e/notoemoji/16.0/2728/72.png" loading="lazy">
                  </p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    I'm not sure how familiar you are with my work, so I thought I'd share some of the most valuable
                    stuff I've created over the past few years. Consider this a “Josh Starter Pack”. <img
                      data-emoji="😄" class="an1" alt="😄" aria-label="😄" draggable="false"
                      src="https://fonts.gstatic.com/s/e/notoemoji/16.0/1f604/72.png" loading="lazy"></p>
                  <h2
                    style="box-sizing:border-box;font-size:28px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;margin-top:32px;margin-bottom:16px;font-weight:600">
                    Popular blog posts</h2>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    Here are some of the most widely-read blog posts I've written:</p>
                  <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/l2hehmh3e68v4ks6/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL2Nzcy9pbnRlcmFjdGl2ZS1ndWlkZS10by1mbGV4Ym94P2Zyb209bmV3c2xldHRlcg=="
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/l2hehmh3e68v4ks6/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL2Nzcy9pbnRlcmFjdGl2ZS1ndWlkZS10by1mbGV4Ym94P2Zyb209bmV3c2xldHRlcg%3D%3D&amp;source=gmail&amp;ust=1749156924781000&amp;usg=AOvVaw1c-FvZNPcgMJMcevgp7i6W"><img
                      src="https://ci3.googleusercontent.com/meips/ADKq_Nb_o_YZGyW4ae9OvcJlzLvDaxSI_LlkP0I3TUPNxGV-d9fY6-XJ2dmyWQsEhHOqUdwGT-SvCnsvIyFCg2Mq5t2IIfj-dxZitu7-zkWNqB-uS_sTnfG3BNk=s0-d-e1-ft#https://joshwcomeau.com/images/og-interactive-guide-to-flexbox.png"
                      style="display:block;outline:none;border:none;text-decoration:none;border-radius:8px;margin-bottom:16px;min-width:0;max-width:574px"
                      width="100%" class="CToWUd" data-bit="iit"></a>
                  <p
                    style="box-sizing:border-box;font-size:20px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;font-weight:bold;margin-bottom:0">
                    <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/l2hehmh3e68v4ks6/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL2Nzcy9pbnRlcmFjdGl2ZS1ndWlkZS10by1mbGV4Ym94P2Zyb209bmV3c2xldHRlcg=="
                      style="color:inherit;text-decoration:none" target="_blank"
                      data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/l2hehmh3e68v4ks6/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL2Nzcy9pbnRlcmFjdGl2ZS1ndWlkZS10by1mbGV4Ym94P2Zyb209bmV3c2xldHRlcg%3D%3D&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw0weU5hD0XNG4c--vIUY1vU">An
                      Interactive Guide to Flexbox</a>
                  </p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;margin-top:8px;margin-bottom:32px">
                    When we truly learn the secrets of the Flexbox layout mode, we can build absolutely incredible
                    things. Fluid layouts that stretch and shrink without arbitrary breakpoints. In this action-packed
                    interactive tutorial, we'll pop the hood on the Flexbox algorithm and learn how to use it
                    effectively. <img data-emoji="✨" class="an1" alt="✨" aria-label="✨" draggable="false"
                      src="https://fonts.gstatic.com/s/e/notoemoji/16.0/2728/72.png" loading="lazy"></p>
                  <br><a
                    href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/m2h7h5h8vmd09ocm/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL3JlYWN0L3doeS1yZWFjdC1yZS1yZW5kZXJzP2Zyb209bmV3c2xldHRlcg=="
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/m2h7h5h8vmd09ocm/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL3JlYWN0L3doeS1yZWFjdC1yZS1yZW5kZXJzP2Zyb209bmV3c2xldHRlcg%3D%3D&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw2Zm_9woqd6XAyq7NWFkxBK"><img
                      src="https://ci3.googleusercontent.com/meips/ADKq_NbU-p6kYfSNHBvzGL0ml1aUDLZMSpy9HTqKE-QwJH5WYDBWedTG-vmsvAleD4ewPIj_XJ33UxJZmIjSlMdzG66zIxJjLL0KJTEitzhg_EU_=s0-d-e1-ft#https://joshwcomeau.com/images/og-why-react-re-renders.png"
                      style="display:block;outline:none;border:none;text-decoration:none;border-radius:8px;margin-bottom:16px;min-width:0;max-width:574px"
                      width="100%" class="CToWUd" data-bit="iit"></a>
                  <p
                    style="box-sizing:border-box;font-size:20px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;font-weight:bold;margin-bottom:0">
                    <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/m2h7h5h8vmd09ocm/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL3JlYWN0L3doeS1yZWFjdC1yZS1yZW5kZXJzP2Zyb209bmV3c2xldHRlcg=="
                      style="color:inherit;text-decoration:none" target="_blank"
                      data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/m2h7h5h8vmd09ocm/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL3JlYWN0L3doeS1yZWFjdC1yZS1yZW5kZXJzP2Zyb209bmV3c2xldHRlcg%3D%3D&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw2Zm_9woqd6XAyq7NWFkxBK">Why
                      React Re-Renders</a>
                  </p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;margin-top:8px;margin-bottom:32px">
                    In React, we don't update the DOM directly, we tell React what we want the DOM to look like, and
                    React tackles the rest. But how exactly does it do this? In this tutorial, we'll unpack exactly when
                    and why React re-renders, and how we can use this information to optimize the performance of our
                    React apps.</p>
                  <br><a
                    href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/dpheh0h0v8lwk0im/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL2Jsb2cvaG93LXRvLWxlYXJuLXN0dWZmLXF1aWNrbHk_ZnJvbT1uZXdzbGV0dGVy"
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/dpheh0h0v8lwk0im/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL2Jsb2cvaG93LXRvLWxlYXJuLXN0dWZmLXF1aWNrbHk_ZnJvbT1uZXdzbGV0dGVy&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw17IqhCj18bfObHKw4a9op-"><img
                      src="https://ci3.googleusercontent.com/meips/ADKq_NZrbyTGorb7JnPjsQ6DccFSXqJj9qJ3H_5zqBWgtr0AOmA0nIsM31m3AH5n6opsLdnXFaQtpLsiRrGMjJeppG_qoYNoiqNuwQWvqIwSqf0Kr4H15yZP=s0-d-e1-ft#https://joshwcomeau.com/images/og-how-to-learn-stuff-quickly.png"
                      style="display:block;outline:none;border:none;text-decoration:none;border-radius:8px;margin-bottom:16px;min-width:0;max-width:574px"
                      width="100%" class="CToWUd" data-bit="iit"></a>
                  <p
                    style="box-sizing:border-box;font-size:20px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;font-weight:bold;margin-bottom:0">
                    <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/dpheh0h0v8lwk0im/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL2Jsb2cvaG93LXRvLWxlYXJuLXN0dWZmLXF1aWNrbHk_ZnJvbT1uZXdzbGV0dGVy"
                      style="color:inherit;text-decoration:none" target="_blank"
                      data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/dpheh0h0v8lwk0im/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL2Jsb2cvaG93LXRvLWxlYXJuLXN0dWZmLXF1aWNrbHk_ZnJvbT1uZXdzbGV0dGVy&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw17IqhCj18bfObHKw4a9op-">How
                      to Learn Stuff Quickly</a>
                  </p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;margin-top:8px;margin-bottom:32px">
                    I'm a self-taught developer, and I've taught myself a whole bunch of skills over the years. This
                    blog post shares some of the strategies I've used to pick up new skills as quickly as possible.</p>
                  <div style="height:8px;line-height:8px">&nbsp;</div>
                  <h2
                    style="box-sizing:border-box;font-size:28px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;margin-top:32px;margin-bottom:16px;font-weight:600">
                    Courses</h2>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    In 2020, I left my job as a Staff Software Engineer to work full-time on creating educational
                    resources for developers. To date, I've created two interactive self-paced online courses.</p>
                  <h3
                    style="box-sizing:border-box;font-size:20px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;margin-top:32px;margin-bottom:16px;font-weight:600">
                    CSS for JavaScript Developers</h3>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    CSS is easy to get started with, but very difficult to master. There are no error messages, no
                    <span>console.log</span>, no <span>debugger</span>. For so many JavaScript developers, CSS feels
                    like a mysterious black box.
                  </p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    I started writing CSS in 2007, and for a decade, I stumbled my way through it. I knew enough to get
                    by, but I would frequently find myself in bewildering situations. I'd use a snippet I've used 100
                    times before, but it would randomly do something different. The language felt so inconsistent and
                    unpredictable!</p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    I decided I was sick of feeling baffled by CSS, and started <em>really trying</em> to understand it.
                    Whenever CSS did something I didn't understand, I'd dig into it, settling into the problem like a
                    warm bath. Over the years, so many puzzle pieces snapped into place, and it totally changed the
                    experience of working with CSS!</p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/n2hohvhnwkomket6/aHR0cHM6Ly9jc3MtZm9yLWpzLmRldi8="
                      style="box-sizing:border-box;color:inherit;text-decoration:underline;text-decoration-color:#5a59ff;font-weight:600"
                      target="_blank"
                      data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/n2hohvhnwkomket6/aHR0cHM6Ly9jc3MtZm9yLWpzLmRldi8%3D&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw0X3HFNzz9wgze5G67zhIjv">CSS
                      for JavaScript Developers</a> is a comprehensive course that shares all of the epiphanies I've had
                    about CSS. My goal is to help you build a robust intuition for the language, to change your
                    relationship with CSS!
                  </p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    Check it out:</p>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%">
                    <tbody>
                      <tr>
                        <td align="center"><img
                            alt="A banner showing the landing page for CSS for JavaScript Developers"
                            src="https://ci3.googleusercontent.com/meips/ADKq_NY_kocFevxL9D8wGvAmS7_3-ikQL3C5bkyYTEvVImqxjZZu1AwRIgKSB0GwgeDIqJaZ9WCmQJp2nmvoNS3w19be5TuuPO-OT2GEMQYocA=s0-d-e1-ft#https://www.joshwcomeau.com/images/css-for-js-banner.png"
                            style="display:block;outline:none;border:none;text-decoration:none;box-sizing:border-box;max-width:100%;margin:32px auto;border-radius:4px"
                            width="574" class="CToWUd a6T" data-bit="iit" tabindex="0">
                          <div class="a6S" dir="ltr" style="opacity: 0.01; left: 867px; top: 2831.1px;"><span
                              data-is-tooltip-wrapper="true" class="a5q" jsaction="JIbuQc:.CLIENT"><button
                                class="VYBDae-JX-I VYBDae-JX-I-ql-ay5-ays CgzRE" jscontroller="PIVayb"
                                jsaction="click:h5M12e; clickmod:h5M12e;pointerdown:FEiYhc;pointerup:mF5Elf;pointerenter:EX0mI;pointerleave:vpvbp;pointercancel:xyn4sd;contextmenu:xexox;focus:h06R8; blur:zjh6rb;mlnRJb:fLiPzd;"
                                data-idom-class="CgzRE" data-use-native-focus-logic="true" jsname="hRZeKc"
                                aria-label="Download attachment " data-tooltip-enabled="true" data-tooltip-id="tt-c71"
                                data-tooltip-classes="AZPksf" id=""
                                jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTgzMzkwMTU5ODQ2NjgxOTU2NiJd; 43:WyJpbWFnZS9qcGVnIl0."><span
                                  class="OiePBf-zPjgPe VYBDae-JX-UHGRz"></span><span class="bHC-Q" jscontroller="LBaJxb"
                                  jsname="m9ZlFb" soy-skip="" ssk="6:RWVI5c"></span><span class="VYBDae-JX-ank-Rtc0Jf"
                                  jsname="S5tZuc" aria-hidden="true"><span class="notranslate bzc-ank"
                                    aria-hidden="true"><svg viewBox="0 -960 960 960" height="20" width="20"
                                      focusable="false" class=" aoH">
                                      <path
                                        d="M480-336L288-528l51-51L444-474V-816h72v342L621-579l51,51L480-336ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72H696v-72h72v72q0,29.7-21.16,50.85T695.96-192H263.72Z">
                                      </path>
                                    </svg></span></span>
                                <div class="VYBDae-JX-ano"></div>
                              </button>
                              <div class="ne2Ple-oshW8e-J9" id="tt-c71" role="tooltip" aria-hidden="true">Download</div>
                            </span></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h3
                    style="box-sizing:border-box;font-size:20px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;margin-top:32px;margin-bottom:16px;font-weight:600">
                    The Joy of React</h3>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    There's no denying it: React has become the dominant JavaScript framework. It seems like every
                    company is building with React, and it's still growing in popularity!</p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    I was introduced to React in 2015 when my manager told me to check it out. We were considering using
                    it for some client projects, and my job was to learn the tool and teach it to the team.</p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    I've been using React ever since, and I have to admit: <strong>I <em>love</em> working with
                      React.</strong> I've tried lots of alternatives (Angular, Vue, Svelte…), and some of them are
                    pretty great, but none of them make me feel as <em>empowered</em> as React.</p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    That said, React has a very steep learning curve. When I first started using it all those years ago,
                    I really had no idea what I was doing, and it took <em>years</em> before I felt truly confident.</p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/e0hph7hkz494vpi8/aHR0cHM6Ly93d3cuam95b2ZyZWFjdC5jb20v"
                      style="box-sizing:border-box;color:inherit;text-decoration:underline;text-decoration-color:#5a59ff;font-weight:600"
                      target="_blank"
                      data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/e0hph7hkz494vpi8/aHR0cHM6Ly93d3cuam95b2ZyZWFjdC5jb20v&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw3BIiN_91HrhXTqYfesX0uP">The
                      Joy of React</a> is a beginner-friendly React course with one goal: help you build your intuition
                    of how React works, so that you can use it to build rich, dynamic web applications. <strong>I want
                      you to love working with React as much as I do!</strong>
                  </p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    You can learn more on the course homepage:</p>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%">
                    <tbody>
                      <tr>
                        <td align="center"><img alt="A banner showing the landing page for The Joy of React"
                            src="https://ci3.googleusercontent.com/meips/ADKq_NYPnJCcSdmsuJpKSrqkh482OxneaYiMH0g2LyDZ-MT1pDkBoll-pCpdz6h9VLn5ma3UZHeW5y09HbKeQ-gkFnd31c2TJj48pq8=s0-d-e1-ft#https://www.joshwcomeau.com/images/joy-of-react.png"
                            style="display:block;outline:none;border:none;text-decoration:none;box-sizing:border-box;max-width:100%;margin:32px auto;border-radius:4px"
                            width="574" class="CToWUd a6T" data-bit="iit" tabindex="0">
                          <div class="a6S" dir="ltr" style="opacity: 0.01; left: 867px; top: 3731.85px;"><span
                              data-is-tooltip-wrapper="true" class="a5q" jsaction="JIbuQc:.CLIENT"><button
                                class="VYBDae-JX-I VYBDae-JX-I-ql-ay5-ays CgzRE" jscontroller="PIVayb"
                                jsaction="click:h5M12e; clickmod:h5M12e;pointerdown:FEiYhc;pointerup:mF5Elf;pointerenter:EX0mI;pointerleave:vpvbp;pointercancel:xyn4sd;contextmenu:xexox;focus:h06R8; blur:zjh6rb;mlnRJb:fLiPzd;"
                                data-idom-class="CgzRE" data-use-native-focus-logic="true" jsname="hRZeKc"
                                aria-label="Download attachment " data-tooltip-enabled="true" data-tooltip-id="tt-c72"
                                data-tooltip-classes="AZPksf" id=""
                                jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTgzMzkwMTU5ODQ2NjgxOTU2NiJd; 43:WyJpbWFnZS9qcGVnIl0."><span
                                  class="OiePBf-zPjgPe VYBDae-JX-UHGRz"></span><span class="bHC-Q" jscontroller="LBaJxb"
                                  jsname="m9ZlFb" soy-skip="" ssk="6:RWVI5c"></span><span class="VYBDae-JX-ank-Rtc0Jf"
                                  jsname="S5tZuc" aria-hidden="true"><span class="notranslate bzc-ank"
                                    aria-hidden="true"><svg viewBox="0 -960 960 960" height="20" width="20"
                                      focusable="false" class=" aoH">
                                      <path
                                        d="M480-336L288-528l51-51L444-474V-816h72v342L621-579l51,51L480-336ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72H696v-72h72v72q0,29.7-21.16,50.85T695.96-192H263.72Z">
                                      </path>
                                    </svg></span></span>
                                <div class="VYBDae-JX-ano"></div>
                              </button>
                              <div class="ne2Ple-oshW8e-J9" id="tt-c72" role="tooltip" aria-hidden="true">Download</div>
                            </span></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h2
                    style="box-sizing:border-box;font-size:28px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;margin-top:32px;margin-bottom:16px;font-weight:600">
                    Cool stuff</h2>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    Finally, I have some fun extras! <img data-emoji="✨" class="an1" alt="✨" aria-label="✨"
                      draggable="false" src="https://fonts.gstatic.com/s/e/notoemoji/16.0/2728/72.png" loading="lazy">
                  </p>
                  <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/3ohphkh7xx4gvvir/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL2dyYWRpZW50LWdlbmVyYXRvci8_ZnJvbT1uZXdzbGV0dGVy"
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/3ohphkh7xx4gvvir/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL2dyYWRpZW50LWdlbmVyYXRvci8_ZnJvbT1uZXdzbGV0dGVy&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw3877IY5dkJOGlbViqUEZaG"><img
                      src="https://ci3.googleusercontent.com/meips/ADKq_Nbn2IBlAQ5XWgjcVPwN2jkM_uGnK1PwcNBv74LBUCifX3XuoNk-SUPo05eFbcyqxskE2SdxGQN201rbzo7qJBD_Gf8r7ejZHTt6K4K5ChSLsZb1uUzR=s0-d-e1-ft#https://www.joshwcomeau.com/images/gradient-generator-goodie.png"
                      style="display:block;outline:none;border:none;text-decoration:none;border-radius:8px;margin-bottom:16px;min-width:0;max-width:574px"
                      width="100%" class="CToWUd" data-bit="iit"></a>
                  <p
                    style="box-sizing:border-box;font-size:20px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;font-weight:bold;margin-bottom:0">
                    <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/3ohphkh7xx4gvvir/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL2dyYWRpZW50LWdlbmVyYXRvci8_ZnJvbT1uZXdzbGV0dGVy"
                      style="color:inherit;text-decoration:none" target="_blank"
                      data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/3ohphkh7xx4gvvir/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL2dyYWRpZW50LWdlbmVyYXRvci8_ZnJvbT1uZXdzbGV0dGVy&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw3877IY5dkJOGlbViqUEZaG">Gradient
                      Generator</a>
                  </p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;margin-top:8px;margin-bottom:32px">
                    If you've ever tried to come up with a beautiful gradient from scratch, you've likely found that
                    it's pretty tricky! Colors get dull and washed-out in the middle. This tool will help you generate
                    beautiful, lush gradients. It uses a number of sneaky tricks, like using easing curves and
                    alternative color modes.</p>
                  <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/n2hohvh32260e2t6/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL3NoYWRvdy1wYWxldHRlLz9mcm9tPW5ld3NsZXR0ZXI="
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/n2hohvh32260e2t6/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL3NoYWRvdy1wYWxldHRlLz9mcm9tPW5ld3NsZXR0ZXI%3D&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw2X3H6n9OUPJLmvGPN6eSj9"><img
                      src="https://ci3.googleusercontent.com/meips/ADKq_NaShZGOj-k9wUx1HvFgq5nCxAyh4gvYNCHZyYJY_tpjb08Lr53FhLTM5FoEFhl1Wb8BO1PkTLysBzF0Mj449bLyq3HRRu8hvV6_bw8jKOP49Ck=s0-d-e1-ft#https://www.joshwcomeau.com/images/shadow-palette-goodie.png"
                      style="display:block;outline:none;border:none;text-decoration:none;border-radius:8px;margin-bottom:16px;min-width:0;max-width:574px"
                      width="100%" class="CToWUd" data-bit="iit"></a>
                  <p
                    style="box-sizing:border-box;font-size:20px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;font-weight:bold;margin-bottom:0">
                    <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/n2hohvh32260e2t6/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL3NoYWRvdy1wYWxldHRlLz9mcm9tPW5ld3NsZXR0ZXI="
                      style="color:inherit;text-decoration:none" target="_blank"
                      data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/n2hohvh32260e2t6/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL3NoYWRvdy1wYWxldHRlLz9mcm9tPW5ld3NsZXR0ZXI%3D&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw2X3H6n9OUPJLmvGPN6eSj9">Shadow
                      Palette Generator</a>
                  </p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;margin-top:8px;margin-bottom:32px">
                    The “box-shadow” CSS property produces some pretty boring, unconvincing shadows by default. If we
                    want to create lush, realistic shadows, we need to take advantage of some tricks. This free online
                    tool helps you produce nicer shadows in CSS.</p>
                  <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/wnh2hghwmmx687c7/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL29wZXJhdG9yLWxvb2t1cC8_ZnJvbT1uZXdzbGV0dGVy"
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/wnh2hghwmmx687c7/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL29wZXJhdG9yLWxvb2t1cC8_ZnJvbT1uZXdzbGV0dGVy&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw3pfDXrAX9FrBbbzrh4vm5P"><img
                      src="https://ci3.googleusercontent.com/meips/ADKq_Nbm7lzPbDvT-5yden6vrpl7wO5vMp0AkB3le4wYWHzb8gDMw5R9E7QAPMItIwGV6r0_O3Y_PC3Qhdjbytv-BpeMmkvHlutF9mURgw=s0-d-e1-ft#https://joshwcomeau.com/images/og-operator-lookup.png"
                      style="display:block;outline:none;border:none;text-decoration:none;border-radius:8px;margin-bottom:16px;min-width:0;max-width:574px"
                      width="100%" class="CToWUd" data-bit="iit"></a>
                  <p
                    style="box-sizing:border-box;font-size:20px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;font-weight:bold;margin-bottom:0">
                    <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/wnh2hghwmmx687c7/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL29wZXJhdG9yLWxvb2t1cC8_ZnJvbT1uZXdzbGV0dGVy"
                      style="color:inherit;text-decoration:none" target="_blank"
                      data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/wnh2hghwmmx687c7/aHR0cHM6Ly93d3cuam9zaHdjb21lYXUuY29tL29wZXJhdG9yLWxvb2t1cC8_ZnJvbT1uZXdzbGV0dGVy&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw3pfDXrAX9FrBbbzrh4vm5P">Operator
                      Lookup</a>
                  </p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;margin-top:8px;margin-bottom:32px">
                    Have you ever been reading some code, and you discover an unfamiliar operator, like “&amp;&amp;=” or
                    “|&amp;gt”? These operators can't really be googled, because Google ignores most symbols! So, I
                    created “Operator Lookup”, a search engine specifically for JS operators. Copy/paste the operator,
                    and this tool will tell you what it is and how it works.</p>
                  <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/reh8hoh0kkwznza2/aHR0cHM6Ly9qb3Nod2NvbWVhdS5jb20vZWZmZWN0aXZlLXBvcnRmb2xpby9kb3dubG9hZC1ib29rLz9mcm9tPW5ld3NsZXR0ZXI="
                    target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/reh8hoh0kkwznza2/aHR0cHM6Ly9qb3Nod2NvbWVhdS5jb20vZWZmZWN0aXZlLXBvcnRmb2xpby9kb3dubG9hZC1ib29rLz9mcm9tPW5ld3NsZXR0ZXI%3D&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw06eubdJHNdgcXqhgsjA5cs"><img
                      src="https://ci3.googleusercontent.com/meips/ADKq_NZpKilAXUCbeP6jcRZtZNw4_FOICajzMw876PoNvuU42ZlVjaN5iCgkEYNs_bKuzXxHzeNwWP9-r5sSGh1k0JbGK34NEruEewMC-yya=s0-d-e1-ft#https://www.joshwcomeau.com/portfolio-book/og-image.png"
                      style="display:block;outline:none;border:none;text-decoration:none;border-radius:8px;margin-bottom:16px;min-width:0;max-width:574px"
                      width="100%" class="CToWUd" data-bit="iit"></a>
                  <p
                    style="box-sizing:border-box;font-size:20px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;font-weight:bold;margin-bottom:0">
                    <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/reh8hoh0kkwznza2/aHR0cHM6Ly9qb3Nod2NvbWVhdS5jb20vZWZmZWN0aXZlLXBvcnRmb2xpby9kb3dubG9hZC1ib29rLz9mcm9tPW5ld3NsZXR0ZXI="
                      style="color:inherit;text-decoration:none" target="_blank"
                      data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/reh8hoh0kkwznza2/aHR0cHM6Ly9qb3Nod2NvbWVhdS5jb20vZWZmZWN0aXZlLXBvcnRmb2xpby9kb3dubG9hZC1ib29rLz9mcm9tPW5ld3NsZXR0ZXI%3D&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw06eubdJHNdgcXqhgsjA5cs">Building
                      an Effective Dev Portfolio</a>
                  </p>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;margin-top:8px;margin-bottom:32px">
                    I've reviewed literally hundreds of junior developer portfolio sites, and I noticed that people kept
                    making the same mistakes over and over. I learned a lot about the subject when I worked as a career
                    coach, helping recent bootcamp grads land their first job.<br><br>This is a free 70-page e-book that
                    explains how you can create a developer portfolio site that will attract potential employers and
                    help you land a job as an early-career developer.</p>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                    style="box-sizing:border-box;width:100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding:0 16px"><img
                            src="https://ci3.googleusercontent.com/meips/ADKq_NYbCK3VnZubPuJiWJhcT--NvRnVQ44afpL4Am2IeKuW4sZnv45OobKTWWTz-yRSty2JAa-aKKHwvlUzbmy7hIpIdHRfSSTgYkynMLw=s0-d-e1-ft#https://www.joshwcomeau.com/email/squiggly-divider.png"
                            alt="" width="150" style="box-sizing:border-box;width:150px" class="CToWUd" data-bit="iit">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p
                    style="box-sizing:border-box;font-size:1rem;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px">
                    Thanks so much for subscribing, and welcome to the newsletter!</p>
                  <div><img alt="-Josh"
                      src="https://ci3.googleusercontent.com/meips/ADKq_NY1hwZAozItkgQAcoAl_Kptab7D0lPb0Ek3PZ6ItazCBKxAOeCgTC_y4UueEW7MFcGNZUNfuYL1lvaimlzQEeZvB2GWuA=s0-d-e1-ft#https://www.joshwcomeau.com/email/signature.png"
                      width="300" style="box-sizing:border-box;margin-left:0px;margin-bottom:32px;margin-top:8px"
                      class="CToWUd a6T" data-bit="iit" tabindex="0">
                    <div class="a6S" dir="ltr" style="opacity: 0.01; left: 593px; top: 6152.58px;"><span
                        data-is-tooltip-wrapper="true" class="a5q" jsaction="JIbuQc:.CLIENT"><button
                          class="VYBDae-JX-I VYBDae-JX-I-ql-ay5-ays CgzRE" jscontroller="PIVayb"
                          jsaction="click:h5M12e; clickmod:h5M12e;pointerdown:FEiYhc;pointerup:mF5Elf;pointerenter:EX0mI;pointerleave:vpvbp;pointercancel:xyn4sd;contextmenu:xexox;focus:h06R8; blur:zjh6rb;mlnRJb:fLiPzd;"
                          data-idom-class="CgzRE" data-use-native-focus-logic="true" jsname="hRZeKc"
                          aria-label="Download attachment " data-tooltip-enabled="true" data-tooltip-id="tt-c73"
                          data-tooltip-classes="AZPksf" id=""
                          jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTgzMzkwMTU5ODQ2NjgxOTU2NiJd; 43:WyJpbWFnZS9qcGVnIl0."><span
                            class="OiePBf-zPjgPe VYBDae-JX-UHGRz"></span><span class="bHC-Q" jscontroller="LBaJxb"
                            jsname="m9ZlFb" soy-skip="" ssk="6:RWVI5c"></span><span class="VYBDae-JX-ank-Rtc0Jf"
                            jsname="S5tZuc" aria-hidden="true"><span class="notranslate bzc-ank" aria-hidden="true"><svg
                                viewBox="0 -960 960 960" height="20" width="20" focusable="false" class=" aoH">
                                <path
                                  d="M480-336L288-528l51-51L444-474V-816h72v342L621-579l51,51L480-336ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72H696v-72h72v72q0,29.7-21.16,50.85T695.96-192H263.72Z">
                                </path>
                              </svg></span></span>
                          <div class="VYBDae-JX-ano"></div>
                        </button>
                        <div class="ne2Ple-oshW8e-J9" id="tt-c73" role="tooltip" aria-hidden="true">Download</div>
                      </span></div>
                  </div>
                  <div
                    style="box-sizing:border-box;background:hsla(215deg,100%,70%,0.2);padding:32px 16px;margin-top:64px">
                    <p
                      style="box-sizing:border-box;font-size:14px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;text-align:center;margin-bottom:0px">
                      <a href="https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/wnh2hghwpq9m23u7/aHR0cHM6Ly9qb3Nod2NvbWVhdS5jb20vZW1haWwvd2VsY29tZQ=="
                        style="box-sizing:border-box;color:inherit;text-decoration:underline;text-decoration-color:#5a59ff;font-weight:600"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://click.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6/wnh2hghwpq9m23u7/aHR0cHM6Ly9qb3Nod2NvbWVhdS5jb20vZW1haWwvd2VsY29tZQ%3D%3D&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw0TrpMMYI32FKWOq-Xny3CQ">View
                        email on web</a>&nbsp; · &nbsp;<a
                        href="https://unsubscribe.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6"
                        style="box-sizing:border-box;color:inherit;text-decoration:underline;text-decoration-color:#5a59ff;font-weight:600"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://unsubscribe.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw2tLJnE_87O-ZQClftDLz9V">Unsubscribe</a>&nbsp;
                      · &nbsp;<a href="https://preferences.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6"
                        style="box-sizing:border-box;color:inherit;text-decoration:underline;text-decoration-color:#5a59ff;font-weight:600"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://preferences.convertkit-mail4.com/zlu43429q2a7u32mq9szuwzp7000f6&amp;source=gmail&amp;ust=1749156924782000&amp;usg=AOvVaw2iGlol7Mi_Vj-V02wYN_BM">Update
                        profile</a>
                    </p>
                    <p
                      style="box-sizing:border-box;font-size:14px;font-family:'Wotfard',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;line-height:1.5;padding-left:0px;padding-right:0px;text-align:center;margin-bottom:0">
                      390 Saint-Catherine Ouest #39013, Montreal, QC H3B 0B2</p>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>